
.bgNavbar{
    background-color: #1F2336;
}
.linksimatbdi{
    font-size:20px;
    font-weight:600;

}
.titlenavbar{
    color: #fdc475;
    text-transform: uppercase;
    margin-left: 1.5em;

}
button.borderNavbar.navbar-toggler{
    color:#EDECEC;
    border-color: #EDECEC;
}