
.bgNavbar{
    background-color: #EDECEC;
}
.linksimatbdi{
    font-size:20px;
    font-weight:400;

}
.titlenavbar{
    color: #fdc475;
    text-transform: uppercase;

}
button.borderNavbar.navbar-toggler{
    color:#EDECEC;
    border-color: #EDECEC;
}